@import url("https://fonts.googleapis.com/css?family=Arvo:400,700,400italic");
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-family: "Roboto Condensed", Arial, sans-serif;
  background: url("/static/img/subtle_dots.png");
  //background-color: #FBFAF7;
  line-height: 1.6em;
  font-weight: 300;
  font-size: 14px;
  color: #232323;
  //color: #666;
}
.author-name a#titulo {
  font-family: Arvo, sans-serif;
  font-size: 40px;
  font-weight: 300;
  background-color: black;
  color: white;
  border-bottom: none;
  //margin-top: 0;
  text-decoration: none;
  padding: 2px 20px 2px 10px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #F7F1F1;
  border-bottom: 1px solid #fff;
}
span.time, span.categories {
  color: #ADADAD;
  margin-bottom: 5px;
  font-size: 11px;
}
h1, h2, h3 {
  //color: black;	
  //color: #696969;
  font-weight: normal;
  font-family: Arvo;
}
h1 {
  margin-bottom: 10px;
  font-size: 30px;
}
h2, h3 {
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

h4{
	padding-top: 35px;
	padding-bottom: 8px;
	margin-bottom: 5px;
	font-weight: 500;
	font-family: Arvo;
}

h2 {font-size: 24px;}
h2 {font-size: 18x;}
a, a:link, a:active {
  text-decoration: none;
  color: #5192f6;
  //color: #3fa757;
}
a:hover {
  //color: #d10f42;
  color: #B3B3B3;
  text-decoration: underline;
}

/* Layout */
.main-layout {
  background: #FBFAF7;
}
.sidebar-nav {
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  margin: 0;
  list-style: none;
}
.sidebar-nav li::before {
  content: "»";
  margin-right: .5em;
}

/* Tables */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.80rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

table tbody + tbody {
  border-top: 2px solid #eceeef;
}
/*
.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}
*/
/*------------------------------*/
/* Content */
div.post-content {
  text-align:justify;
}
div.content pre {
  background: #333333;
  padding: 10px;
  color: #b3b9c5;
  /*color: #FFF;*/
  overflow-x: auto;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12.3px;
  border: none;
}
div.content .highlight {
	background: #333333;
}
footer {
  border-top: 1px solid #F7F1F1;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  color: #C2C2C2;
  font-size: 11px;
  bottom: 0;
  padding-bottom: 10px;
}
div.post-content .btn-tags {
  margin-bottom: 3px;
}

/* Left column */
div.col-sm-3 {
  margin-top: 100px;
  font-size: 11px;
  color: #666;
}
div.col-sm-3 strong {
  font-size: 16px;
  color: #4A4A4A;
  font-weight: normal;
}
div.col-sm-3 div.profile-about {
  margin-top: 10px;
  color: #8C8C8C;
}

/* Pagination */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}
.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.PageNavigation .next {
  text-align: right;
}
.PageNavigation .prev {
  text-align: left;
}

/* Social Icons */
.social{
  display: block;
  margin: 10px 0;
}
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social ul li {
  display: inline-block;
  margin: 0 5px;
}
.social li a {
  font-size: 16px;
  color: #969394;
}
.social li a:hover {
  color: #6D6D6D;
}

.share-page {
  padding: 10px 10px 5px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.post-content img,
.content img {
  max-width: 100%
}
/* Responsive Conditional */
@media (min-width: 1024px) {
  .fixed-condition {
    position: fixed;
    max-width: 255px;
  }
}
@media (max-width: 768px) {
  div.col-sm-3 {
    margin-top: 30px;
  }
}
.blinking_cursor {
  opacity: 0;
  animation: cursor 1s infinite;
}
@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
